DATABASE_URL=postgres://user:password@postgres:5432/gigpf?sslmode=disable
CATEGORIZATION_SQS_URL=http://localstack:4566/000000000000/gig-category-events
AI_API_KEY=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
AI_API_ENDPOINT=https://api.groq.com/openai/v1/chat/completions
AI_MODEL=groq/compound
HUGGINGFACE_API_KEY=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
HUGGINGFACE_AI_MODEL=all-MiniLM-L12-v2/pipeline/sentence-similarity
HUGGINGFACE_ENDPOINT=https://router.huggingface.co/hf-inference/models/sentence-transformers/
PROMPT_FILE=./internal/prompter/prompts/profession.txt
NOTIFICATION_SQS_URL=http://localstack:4566/000000000000/