SERVICE_NAME=categorization-worker
DATABASE_URL=postgres://user:password@postgres-svc:5432/gigpf?sslmode=disable
AI_API_KEY=asdasdsa
AI_API_ENDPOINT=https://api.groq.com/openai/v1/chat/completions
AI_MODEL=groq/compound
HUGGINGFACE_AI_MODEL=all-minilm:l12-v2
LOCAL_OLLAMA_ENDPOINT=OLLAMA_URL=http://host.docker.internal:11434
CATEGORIZATION_SQS_URL=http://localstack:4566/000000000000/gig-category-events
NOTIFICATION_SQS_URL=http://localstack:4566/000000000000/
PROMPT_FILE=./internal/prompter/prompts/profession.txt
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_SQS_ENDPOINT=http://localstack:4566
ENV=stage
METRICS_SERVER_PORT=:9100
OTEL_COLLECTOR_ADDR=otel-collector:4317