DATABASE_URL=postgres://user:password@postgres-svc:5432/gigpf?sslmode=disable
CATEGORIZATION_SQS_URL=http://localstack:4566/000000000000/gig-category-events
AI_API_KEY=groq_api_key
AI_API_ENDPOINT=https://api.groq.com/openai/v1/chat/completions
AI_MODEL=https://api.groq.com/openai/v1/chat/completions
HUGGINGFACE_API_KEY=huggingface_api_key
HUGGINGFACE_AI_MODEL=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
HUGGINGFACE_ENDPOINT=https://api-inference.huggingface.co/pipeline/feature-extraction
PROMPT_FILE=./